aside {
    width: 20%;
    float: left;
    background-color: orchid;
    height: 500px;
}

#content {
    width: 80%;
    background-color: greenyellow;
    height: 500px;
}

.first-task {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

#first {
    background-color: blue;
}

#second {
    background-color: red;
}

.second-task {
    width: 100px;
    height: 100px;
    background-color: mediumslateblue;
    display: inline-block;
    margin-right: 40px;
}


@media (max-width:768px) {

    div {
        margin: 20px auto;
    }

    aside {
        width: 100%;
        float: none;
    }

    #content {
        width: 100%;
        float: right;
        margin-top: 0;
    }

    #first {
        background-color: red;
    }
    
    #second {
        background-color: blue;
    }
}

@media (max-width:480px) {
    .second-task {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 25px;
    }
}