body {
    background-color: darkblue;
    padding: 40px 0;
    width: 1300px;
    border: 2px solid white;
}

#one {
    display: flex;
    margin-bottom: 30px;
}

#two {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

#three {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#four {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

#five {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.first-block {
    background-color: lightseagreen;
    width: 300px;
    height: 90px;
}

.second-block {
    background-color: lightgoldenrodyellow;
    width: 200px;
    height: 90px;
}

.third-block {
    background-color: violet;
    width: 600px;
    height: 90px;
}