body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 80%;
    margin: 0 auto;
}

h1 {
    color: magenta;
    text-align: center;
}

nav ul {
    text-align: center;
    padding-left: 0;
}

nav ul a {
    text-decoration: none;
    color: gray;
}

nav ul a:hover {
    color: rgb(51, 48, 48);
}

nav ul li {
    display: inline;
    margin: 0 5px;
}

#unicOl li:nth-child(odd) {
    color: magenta;
}

#block {
    margin: auto;
    width: 200px;
    height: 200px;
    background-color:  rgb(51, 48, 48);
}

#block:hover {
    background-color: magenta;
}

#block:before {
    content: "test";
}

#block:after {
    content: "test";
}