@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-Regular.woff');
}

.container {
    width: 1120px;
    margin: 0 auto;
    font-family: "Myriad Pro", sans-serif;
}

.left-column {
    width: 44%;
    background-color: antiquewhite;
    float: left;
}

.right-column {
    width: 56%;
    background-color: darkgoldenrod;
    float: left;
}

.employee-description {
    text-align: center;
}

.employee-photo img{
    width: 40%;
    border-radius: 50%;
}

.section-header {
    position: relative;
}

.header-icon {
    width: 10%;
    vertical-align: middle;
}

.header-label {
    font-size: 35px;
    font-weight: bold;
    color: #3d6cb0;
    vertical-align: middle;
}

.list-heading-item {
    font-size: 20px;
    font-weight: bold;
}

.education-period::before {
    content: '\00a0//';
}

.education-period {
    font-size: 20px;
}

.object-subcategory {
    display: block;
}

.object-description {
    font-size: 15px;
}